*.TEXT              gitlab-language=pascal linguist-language=pascal
THUNDER.TEXT        gitlab-language=nasm linguist-language=nasm
IIGSCLK.TEXT        gitlab-language=nasm linguist-language=nasm
NOSLOTCLK.TEXT      gitlab-language=nasm linguist-language=nasm
