*.TEXT              gitlab-language=pascal linguist-language=pascal
SYSSTU.ASM.TEXT     gitlab-language=nasm linguist-language=nasm
IIGSCLK.TEXT        gitlab-language=nasm linguist-language=nasm
NOSLOTCLK.TEXT      gitlab-language=nasm linguist-language=nasm
STDMACRO.TEXT       gitlab-language=nasm linguist-language=nasm
USERDRIVER.TEXT     gitlab-language=nasm linguist-language=nasm
CLKUNIT.TEXT        gitlab-language=nasm linguist-language=nasm
